<!DOCTYPE html>
<html lang="en" ng-app="f1Stats" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>F1 Stats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section>
        <header>
            <h1>Titles by Nationality</h1>
        </header>
        <h2>Drivers</h2>
        <div data-ng-controller="getDriversChampions">
            <div data-ng-repeat="nation in driversChampions|orderBy: '-titles'">
                <dl>
                    <dt>Nationality:</dt>
                    <dd>{{nation.nationality}}</dd>
                    <dt>Titles:</dt>
                    <dd>{{nation.titles}}</dd>
                </dl>
            </div>
        </div>
        <h2>Constructors</h2>
        <div data-ng-controller="getConstructorsChampions">
            <div data-ng-repeat="nation in constructorsChampions|orderBy: '-titles'">
                <dl>
                    <dt>Nationality:</dt>
                    <dd>{{nation.nationality}}</dd>
                    <dt>Titles:</dt>
                    <dd>{{nation.titles}}</dd>
                </dl>
            </div>
        </div>
    </section>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
